[dev] *,
[dev],
.dev *,
.dev {
  outline: 1px solid rgba(255, 0, 0, 0.3);
}

.tm__box-598px {
  @apply mx-auto max-w-[calc(37.375rem_+_2.5rem)] px-[calc(2.5rem_/_2)];
}

* {
  transition: all 0.3s;
}

/* TRANSITIONS & ANIMATIONS */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loading {
  0% {
    background-color: #f0f0f0; /* Light gray */
  }
  50% {
    background-color: #e0e0e0; /* Slightly darker gray */
  }
  100% {
    background-color: #f0f0f0; /* Light gray */
  }
}
.spinner {
  animation: spin 2s linear infinite;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.v-enter-active,
.v-leave-active {
  transition: all 0.2s;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
