[dev] *,
[dev],
.dev *,
.dev {
  outline: 1px solid rgba(255, 0, 0, 0.3);
}

p {
  @apply text-[19px];
}

.tm__box-598px {
  @apply mx-auto max-w-[calc(598px_+_40px)] px-[calc(40px_/_2)];
}

/* TRANSITIONS */

.page-enter-active,
.page-leave-active {
  transition: all var(--page-transition, 0.4s);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.7rem);
}

.fade-left-enter-active,
.fade-left-leave-active {
  transition: all 0.5s;
}

.fade-left-enter, .fade-left-leave-to /* .fade-left-leave-active in <2.1.8 */ {
  opacity: 0;
}
