@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/REGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF")
    format("opentype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/BOLD.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/SEMIBOLDITALIC.OTF")
    format("opentype");
  font-weight: semibold;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/HEAVYITALIC.OTF") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/BLACKITALIC.OTF") format("opentype");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/THINITALIC.OTF") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/ULTRALIGHTITALIC.OTF")
    format("opentype");
  font-weight: thin;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

select option[disabled] {
  color: #999;
}

:root {
  --clr-light-blue: #f3faff; /* #dcf0ff; /* #f3faff; */
  --input-border-color: #eee;

  --clr-grey-400: #777;
  --clr-grey-300: #999;
  --clr-grey-500: #555;
  --clr-grey-700: #2b2b2b;

  --clr-blue-700: #0077d3;
  --clr-blue-600: #008ffd;
  --clr-blue-500: #2ba2fd;
  --clr-blue-100: #cce9ff;
}

/**
* NOTE: The rems are calculated with relative to 16px. 
* This is due to the request to scale the sizes down by Mr Bobai
* ---------------------------------------------------
* https://tailwindcss.com/docs/adding-custom-styles
**/
@layer base {
  html {
    font-size: 14px;
  }

  body {
    font-size: 1.125rem;
    padding: 0;
    margin: 0;
  }

  button {
    font-size: 1.1875rem; /* 19px */
  }

  @media screen and (max-width: 40rem) {
    html {
      font-size: 12px;
      transition: all 0.15s;
    }
  }
  * {
    font-family: "SF-pro", san-serif;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  p {
    font-size: 1.1875rem; /* 19px */
  }

  p.nl {
    font-size: 1rem;
  }

  p.sm {
    font-size: 0.8125rem;
  }
}

input:where(:not([type])),
[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  border-color: var(--input-border-color);
}

.x-table tbody tr td {
  padding: 0.8rem 0.3rem;
}

.x-table thead th {
  background: #eee;
  padding: 0.8rem 0.3rem;
}
.dark .x-table thead th {
  background: rgba(228, 243, 255, 0.5);
}

.x-table.no-clr thead th {
  background: transparent;
  color: var(--clr-grey-300);
}

.x-table thead th:first-child {
  padding-left: 0.8rem;
  border-radius: 0.2rem 0 0 0.2rem;
}

.x-table thead th:last-child {
  border-radius: 0 0.2rem 0.2rem 0;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: 216 12.2% 83.9%;
  }
}
