@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/REGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF")
    format("opentype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/BOLD.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/SEMIBOLDITALIC.OTF")
    format("opentype");
  font-weight: semibold;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/HEAVYITALIC.OTF") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/BLACKITALIC.OTF") format("opentype");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/THINITALIC.OTF") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/ULTRALIGHTITALIC.OTF")
    format("opentype");
  font-weight: thin;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro";
  src: url("~/assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --clr-light-blue: #f3faff;
  --input-border-color: #aaa;

  --clr-grey-400: #777;
  --clr-grey-300: #999;
  --clr-grey-500: #555;

  --clr-blue-700: #0077d3;
  --clr-blue-500: #2ba2fd;
  --clr-blue-100: #cce9ff;
}

/**
* NOTE: The rems are calculated with relative to 16px. 
* This is due to the request to scale the sizes down by Mr Bobai
* ---------------------------------------------------
* https://tailwindcss.com/docs/adding-custom-styles
**/
@layer base {
  html {
    font-size: 14px;
  }

  body {
    font-size: 1.125rem;
    padding: 0;
    margin: 0;
  }

  button {
    font-size: 1.1875rem; /* 19px */
  }

  @media screen and (max-width: 40rem) {
    html {
      font-size: 12px;
      transition: all 0.15s;
    }
  }
  * {
    font-family: "SF-pro", san-serif;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  p {
    font-size: 1.1875rem; /* 19px */
  }

  p.nl {
    font-size: 1rem;
  }

  p.sm {
    font-size: 0.8125rem;
  }
}

input:where(:not([type])),
[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  border-color: var(--input-border-color);
}
